#adminmenu a[href="admin.php?page=add_edit_contact"] { 
    display: none;
}

#adminmenu a[href="admin.php?page=delete_person"] { 
    display: none;
}

#adminmenu a[href="admin.php?page=show_person"] { 
    display: none;
}

#adminmenu a[href="admin.php?page=delete_contact"] { 
    display: none;
}
